



<div align="right">
<% if (@question != nil) && (@question.user_id == current_user.id) %>
  <%= link_to "Delete Current Question", "/questions/#{@question.id}", method: :delete, class: 'btn btn-dark anim-scroll' %>
<%else%> 
   <%nil%>
<%end%>
</div>

<div align="center" id="question_answer"> 
  <% if @question != nil  %>
      <h1> <%= User.find_by(id: @question.user_id).email %> - </h1>
      <h2> <%= @question.body%> </h2> <br> 
       
       <p></p>
         <% Answer.where(question_answer_id: @question.id).sort_by(&:created_at).each do |x| %>
          <% if UserCircle.find_by(circle_id: @question.circle_id, user_id: x.user_id, teacher:true) %> 
            <p> <font color="red"> <%=User.find_by(id: x.user_id).email %>: <%=x.body%> </font> </p>
          <%else%> 
            <p> <font color="blue"> <%=User.find_by(id: x.user_id).email %>: <%=x.body%> </font> </p>
          <%end%>
    <%end%>
  
  <% if User.find_by(id: current_user.id).id == UserCircle.find_by(circle_id: @question.circle_id, teacher:true).user_id%>
    <%=form_tag '/answers', method: :post  do  %>
      <div id="comment_form">
        <textarea rows="3" name="body" id="body" placeholder="text" ></textarea>
        <%=hidden_field_tag :user_id, current_user.id%> 
        <%=hidden_field_tag :question_answer_id, @question.id %>
        <%=submit_tag "Respond To Student Question" %>
      </div>
  <%end%>
    <%else%> 
      <%=form_tag '/answers', method: :post  do  %>
        <div id="comment_form">
          <textarea rows="3" name="body" id="body" placeholder="text" ></textarea>
          <%=hidden_field_tag :user_id, current_user.id%> 
          <%=hidden_field_tag :question_answer_id, @question.id %>
          <%=submit_tag "Respond to Teacher" %>
        </div>
        <%end%> 
  <%end%>
  <%else%> 
    <h1> No question posted By Student </h1>
<%end%>
</div>
    
    

  


   