<div align = "right"> 
  <%= link_to "Back To Circle Page", "/circles/#{@circle.id}", class: 'btn btn-default' %>
</div>
<div align="center">
<h1> <%= @circle.name %> Discussion Page </h1> 
  <%= form_tag "/circles/#{@circle.id}/discussion", method: :get do %>
    <%=text_field_tag :body %>
    <%=hidden_field_tag :user_id, current_user.id%> 
    <%=hidden_field_tag :circle_id, @circle.id %>
    <%= submit_tag "Submit Response" %>
<%end%>

<% @circle.comments.each do |comment| %>
<h4> <%= comment.user.email %>:  "<%= comment.body %>" </h4> 
<%end%>
</div>