<head> 
<link rel='stylesheet' type='text/scss' href='circles.scss'/>
        <script type='text/javascript' src='script.js'></script>
</head>

<div>
  <div align="right"> 
    <%= link_to "Back To Home", "/", class: 'btn btn-default' %>
  </div>
  <div align="center">
    <h1> <%= @circle.name %> Discussion Page </h1>
  </div>
</div>

<div align="center">
  <% @circle.comments.each do |comment| %>
    <h4 id="comment_board"> <%= comment.user.email %>: </h4>
    <h6 class="box_quote"> <%= comment.body %> </h6> 
    <br/><button>Click Me!</button>
  <%end%>
  
   
    <%= form_tag "/circles/#{@circle.id}/discussion", method: :get do %>
      <div id="comment_form">
        <textarea rows="10" name="body" id="body" placeholder="Body"></textarea>
        <%#text_field_tag :body %>
        <%=hidden_field_tag :user_id, current_user.id%> 
        <%=hidden_field_tag :circle_id, @circle.id %>
        <%= submit_tag "Submit Response" %>
      </div>
    <%end%>

</div> 



