<p></p>


<div align="center"> 
<% @circles.each do |circle| %>
  <%if @circles.find_by(id: current_user.circles.find_by(id: circle.id)) != nil%> 
    <% nil %> 
  <%else%> 
    <h2> <%= link_to "#{circle.name}", "/circles/#{circle.id}" %> </h2>
          <%= form_tag '/circles', method: :post do %> 
          <%= hidden_field_tag :user_id, current_user.id %>
          <%= hidden_field_tag :circle_id, circle.id %>
          <%= hidden_field_tag :teacher, false %> 
          <%= submit_tag "Join Circle" %>
          <%end%>
   
   <%end%>
  <%end%>
</div>
 
 