
<div align="right"> 
<h3> <%= link_to "Enter Discussion", "/api/circles.json", class: "btn btn-default" %> </h3>
</div>
<p></p>
<!-- "/circles/#{@circle.id}/discussion" -->
<%if UserCircle.find_by(circle_id: @circle.id, user_id: current_user.id, teacher: true) %> 
  <div align = "right">
    <%= link_to "Add Material", "/books/new", class: 'btn btn-default' %>
  </div>
<%end%>



<div align = "center">
  <div class="dropdown">
       <span> <h2> See List of Materials </h2>  <span>  
    <div class="dropdown-content">
        <% @circle.users.each do |user| %>
          <%if UserCircle.find_by(circle_id: @circle.id, user_id: user.id, teacher: true) %>
            <% user.books.each do |book| %>
            <%= book.id %>
            <%end%>
          <%else%>
            <%nil%>
          <%end%>
        <%end%>
        </div>
    </div>
  </div>


<div align="center">
  <h1> <b> <i> <%= @circle.name %> </i> </b> </h1>
  <% @circle.users.each do |user| %> 
    <% if user.user_circles.find_by(circle_id: @circle.id, user_id: user.id, teacher: true) != nil %>
      <%nil%>
    <%else%>    
      <h4> <%=user.email %> </h4>
    <%end%>
  <%end%>
  
  <div class="font" id="lesson_plan">
     <h2> Assignment: </h2>
     <h6> <%= @circle.lesson_plan %> </h6>
  </div>
 </div> 





  

